body {
  font-family: Tahoma,Verdana,Segoe,sans-serif;
  background: url("cartographer.png");
}

.products-index img {
  width: 100%;
  height: 200px
}

// .well:hover {
//   background-color: darken(, 5%);
// }
